/*
  Style Guide Section Component

  The primary component for housing documentation and coding examples
  within the style guide.
 */
.sg__section {

}

/*
  Header area:

  Within the header of a sg__section we have hooks to the:
    * overall wrapper element
    * inner content wrapper
    * title wrapper
    * title text
    * title bookmark link (for quick linking to a particular section)
    * introduction text to the overall section's content
 */
.sg__section__header {

}

.sg__section__header__content {

}

.sg__section__header__content__title {

}

.sg__section__header__content__title__text {

}

.sg__section__header__content__title__bookmark {
  opacity: 0;
}

.sg__section__header:hover .sg__section__header__content__title__bookmark,
.sg__section__header__content__title__bookmark:focus {
  opacity: 1;
}

.sg__section__header__content__intro-desc {
  font-size: 14px;
}

/*
  Primary content area:

  The primary content area is where the main documentation or instance
  of a UI element or component is displayed.

  The following hooks are available:
    * wrapper element for the primary-content
    * individual 'view' wrapper
        as there may be more than one example per section, each example
        or 'view' should receive their own wrapper
    * optional subtitle element for if there is more than one view
    * actions wrapper for toggle buttons
    * html, css buttons for viewing code (if applicable)
    * view instance wrapper
 */
.sg__section__primary-content {
  background: #fff;
  border: 1px solid #ccc;
  padding: 16px;
}

.sg__section__primary-content__view {

}

.sg__section__primary-content__view__subtitle {

}

.sg__section__primary-content__view__actions {

}

.sg__section__primary-content__view__actions button {

}

.sg__section__primary-content__view__actions__html-btn {

}

.sg__section__primary-content__view__actions__css-btn {

}

.sg__section__primary-content__view__instance {
  min-height: 200px;
  overflow: hidden;
}
